*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: rgb(83, 87, 87);
    color: white;
    height: 100vh;
    justify-content: center;
}
h1{
    position: relative;
    bottom: 20px;
    font-size: 40px;
    opacity: 0;
    animation: step2 3s 3s linear forwards;
}
ul{
    list-style: none;
    opacity: 0;
    animation: step2 3s 2s linear forwards;
    
}
ul li{
    border-bottom: 3px solid rgb(255, 255, 255);
}
a{
    display: flex;
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 19px; 
    margin-top: 10px ;
    opacity: 0;
    animation: step2 3s 3s linear forwards;
    transition: 2s;
}
a:hover{
    letter-spacing: 5px;
}
img{
    display: flex;
    position: relative;
    animation: step 2s linear;
}
@keyframes step{
    0%{
        opacity: 0;
        bottom: 300px;
    }
    100%{
        opacity: 1;
        bottom: 0px;
    }
}
@keyframes step2{
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
    }
}